<%- include('../partials/header.ejs') %>

<h1>All movies</h1>

<% if (movies.length) { %>
<!-- Checks if there are any movies to display -->
<ul>
  <% movies.forEach((movie) => { %>
  <!-- Iterates over each movie in the `movies` array -->
  <li>
    <a href="/movies/<%= movie._id %>"
      ><%= movie.title %> <br />
      (<%= movie.reviews.length %> reviews)</a
    >
    <% if (user._id.equals(movie.user)) { %>
    <!-- Checks if the current user is the owner of the movie by comparing user IDs -->
    <form
      action="/movies/<%= movie._id %>?_method=DELETE"
      class="deleteForm"
      method="POST"
    >
      <button type="submit" class="deleteBtn">❌</button>
    </form>
    <% } %>
    <!-- End of the condition to ensure only the owner can delete the movie -->
  </li>
  <% }) %>
</ul>
<% } else { %>
<h3>You don't have any movies yet</h3>
<% } %>

<%- include('../partials/footer.ejs') %>